#popup {
    display: none;
}


.wrapper {
    padding: 10px;
    background: linear-gradient(90deg, #F3A939 0%, #F26A07 97.4%);
    border: 1px solid #090706;
    border-radius: 22px;
    width: 507px;
    height: 652px;
}

.popup__closeBtn {
    display: block;
    width: 40px;
    height: 40px;
    background: #DE3535;
    border-radius: 8px;
    outline: none;
    border: none;
    color: #fff;
    margin-left: auto;
    margin-bottom: 10px;
}

.popup__form {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    padding: 20px;
    display: block;
}

.popup__form-title {
    width: max-content;
    margin: 0 auto;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 7px;
}

.popup__form-desc {
    width: max-content;
    margin: 0 auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;   
    margin-bottom: 24px;
}

.popup__form-name {
    padding-left: 12px;
    display: block;
    height: 42px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #3A3131;
    background: #FFFFFF;
    border: 2px solid #FF7A00;
    box-shadow: 0px 0px 11px 3px rgba(255, 61, 0, 0.27);
    border-radius: 8px;
}

.popup__form-container {

}